name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    uses: SylphxAI/.github/.github/workflows/publish-npm.yml@main
    with:
      build-command: bun run build
      test-command: bun run test
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
