name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    uses: SylphxAI/.github/.github/workflows/publish-npm.yml@main
    with:
      build-command: 'bun run build'
      test-command: 'bun run test'
      create-github-releases: false
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
